extends ../components/layout

block var
  - bodyClass = "index-page"
  - pageTitle = "Index"

block main
  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla tenetur voluptatem quam optio veniam, in quis maxime cumque fugit excepturi saepe ex fugiat doloremque minima velit dicta vel sint repellat!